<% include partials/header %>
<!-- <link rel="stylesheet" href="/css/quiz.css"> -->
</head>
<body>

<div class="container">
  <div id="currentQuizQuestion">Now Loading...</div>
  <div id="numberOfCorrectAnswers"></div>
  <ul id="currentQuizAnswers"></ul>
</div>

<script type="text/javascript" src="js/main.js"></script>

<% include partials/footer %>
