<% include partials/header %>
<link rel="stylesheet" href="/css/top.css">
</head>
<body>

<div class="container text-center">
  <img src="https://opentdb.com/images/logo.png" />
</div>
<a href="quiz">Quiz Start</a>

<% include partials/footer %>
