body {
  background-color: #383e4e;
}

#currentQuizQuestion {
  width: 80%;
  max-width: 500px;
  margin: 10px auto;
  color: #0ce3ac;
  display: block;
  text-align: center;
}

a {
  color: white;
}

.text-center {
  text-align: center;
}

ul {
  padding: 0;
}

li {
  width: 80%;
  max-width: 500px;
  position: relative;
  list-style-type: none !important;
  padding: 0.8em;
  margin: 10px auto;
  line-height: 1.5;
  background: #16191f;
  vertical-align: middle;
  color: white;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  transition: 0.4s;
  text-align: center;
}

li:hover {
  background: #5c6378;
  color: #fff;
  border-color: #5c6378;
}

#numberOfCorrectAnswers {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #ff3737;
  margin-bottom: 10px;
}

a[href="index.html"] {
  display: block;
  width: 160px;
  padding: 0.8em;
  text-align: center;
  text-decoration: none;
  color: white;
  background: #16191f;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  transition: 0.4s;
  margin: 0 auto;
}

a[href="index.html"]:hover {
  background: #5c6378;
  color: #fff;
  border-color: #5c6378;
}
